// 背景颜色
@bg-w: #fff;
@bg-w6: #F6F6F6;
@bg-w7: #F7F7F7;
@bg-b: #000;
@bg-gr-f3: #F3F5F7;


// 主题颜色
@main-color: #C3030F;
@main-color-light: #D70415;


// 字体颜色
@font-color-w: #fff;
@font-color-b: #000;
@font-color-b3: #333;
@font-color-b6: #666;
@font-color-b9: #999;
@font-color-b54: #545454;
@font-color-bbb:#BBBBBB;
@font-color-b33: #b3b3b3;
@font-color-cd: #CDCDCD;

@font-color-c7: #C7C7C7;

// 首页背景色-按钮
@bg-ef: #EFEFEF;
@bg-f7a: #F7AF2B;
// 首页字体-按钮
@font-color-b111:#111111;
// 首页字体-更多
@font-color-b65:#656565;
// 首页字体-表格下划线
@table-color-f3:#F3F3F3;

//表格表头颜色
@table-color-th: rgba(255, 245, 243, 1) ;
@table-color-th-f4: #F4F4F4;

//评价背景色-div
@bg-fbf2:#FBF2F2;
//按钮颜色
@button-bg-b:#02B4FE;
@button-bg-b1:#0484FF;
@button-bg-g:#F0F0F0;
@button-bg-g1:#43D8B7;
@button-bg-p:#ff7e8b;
@button-bg-p1:#9968EE;
@button-bg-p2:#FDE9E9;
// 办件
@font-color-55:#55D440;
@font-color-af:#AF69F9;

// 互动交流border
@border-color-b:#EDEDED;


// 设置一些公用的flex 少写几行代码
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  //color: @main-color;
}

.flexRowAC {
  display: flex;
  flex-direction: row;
  align-items: center;
}